@page "{idInmueble:int}"
@model maps4.Pages.Share.IndexModel

@{
    // Busca el nombre del tipo de propiedad que coincida con el idTipo del inmueble
    var tipoPropiedad = Model.TiposPropiedades.FirstOrDefault(t => t.idTipoPropiedad == Model.Inmueble.IdTipo)?.nombre ?? "Propiedad";
    var observaciones = !string.IsNullOrEmpty(Model.Inmueble.Observaciones) ? Model.Inmueble.Observaciones : "Descripción no disponible";
    var idInmueble = Model.Inmueble.IdInmueble;
    var imageUrl = $"https://rsmap.azurewebsites.net/cargas/{idInmueble}_1.jpg";
    var pageUrl = $"https://rsmap.azurewebsites.net/Share/{idInmueble}";
    var pageOri = $"https://rsmap.azurewebsites.net/?inmuebleId={idInmueble}";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@($"{tipoPropiedad}")</title>
    <meta property="og:title" content="@tipoPropiedad" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@pageUrl" />
    <meta property="og:image" content="@imageUrl" />
    <meta property="og:image:width" content="1200" />  <!-- Tamaño recomendado por Facebook -->
    <meta property="og:image:height" content="630" />
    <meta property="og:description" content="@observaciones" />
    <link rel="canonical" href="@pageUrl" />

    <!-- Redirección automática con JavaScript -->
    <script type="text/javascript">
        window.location.href = "@pageOri";
    </script>
</head>
<body>
    <h1>Propiedad: @($"{tipoPropiedad}")</h1>
    <p>@observaciones</p>
    <img src="@imageUrl" alt="Vista previa del inmueble" style="max-width: 100%; height: auto;" />
</body>
</html>

